# Shared LinuxServer.io container settings
PUID=1000
PGID=1000
TZ=Etc/UTC

# Unpackerr settings
UN_LOG_FILE=/config/unpackerr.log
UN_SONARR_0_URL=http://gluetun:8989
UN_SONARR_0_API_KEY=filepath:/run/secrets/sonarr-api
UN_SONARR_0_PATHS_0=/media/torrents
UN_RADARR_0_URL=http://gluetun:7878
UN_RADARR_0_API_KEY=filepath:/run/secrets/radarr-api
UN_RADARR_0_PATHS_0=/media/torrents
