# qBittorrent
PUID=1000
PGID=1000
TZ=Etc/UTC
WEBUI_PORT=8088

# qBittorrent Port Forwarder
# These must match the qBittorrent Web UI credentials you configure.
QBT_USERNAME=admin
QBT_PASSWORD=changeme
QBT_ADDR=http://gluetun:8088
GTN_ADDR=http://gluetun:8000
