# Plex is disabled by default in this fork.
PUID=1000
PGID=1000
TZ=Etc/UTC
VERSION=docker
# LinuxServer.io images read secrets via the FILE__ prefix.
FILE__PLEX_CLAIM=/run/secrets/plex-claim
LOG_LEVEL=info
PORT=5055
